<body style="background-color:rgb(172, 252, 165)">
<div class="container">
    
  <div class="row2">
    <img class ="gear"src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Gears.png">
    
    
   
    <div class="list-services">
      <ul>
        <li><i class="fa-solid fa-check"></i> Metro</li>
        <li><i class="fa-solid fa-check"></i> Micros</li>
        <li><i class="fa-solid fa-check"></i> Taxis</li>
        <li><i class="fa-solid fa-check"></i> Colectivos</li>
      </ul>
    </div>
  </div>
</div>
  <p>
     Te dejamos un mapa con información del trafico en
    tiempo real.
  </p>
  <div class="row">
    
    <div class="colum">
      <iframe
        src="https://embed.waze.com/iframe?zoom=15&lat=-33.019711&lon=-71.550388&ct=livemap"
        width="750"
        height="650"
        allowfullscreen
      ></iframe>
    </div>
  </div>
