.gear{
    text-align: center;
    width: 35%;
    padding-top: 7%;
    
    
}
.list-services{
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    text-align: right;
    padding-top: 7%;
    padding-left: 15%;
   
}
.list-services li{
    list-style: none;

}
p{
    text-align: center;

}
.colum{
    text-align: center;
    padding-top: 1%;
}
.row2{
    display: flex;
}