<body style="background-color:rgb(172, 252, 165)">
<div class="container">
    <div class="row">
        <img class="img" src="https://new.turbus.cl/contenido/storage/app/media/contenteditor/header-historia.jpg">
    </div>
    <iframe class ="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13380.854842578246!2d-71.57043330397627!3d-33.024499695862566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689ddfd40c45a43%3A0x7b1bddc7d3173196!2sVon%20Schroeder%2042264%2C%20Vi%C3%B1a%20del%20Mar%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1648046745214!5m2!1ses-419!2scl"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        aling="center"
      ></iframe>
    <div class="text-area">
      Nuestro fin es informar a todos los usuarios sobre los recorridos disponibles, para que puedan tener un viaje seguro y a tiempo.<br />
      Si deseas trabajar con nostros envia tu CV a vicentekrause@tulook.cl <br/>
    </div>
</div>
<footer class="redes">
    <h4>Siguenos en nuestras redes sociales</h4>
    <ul>
      <div class="red-facebook">
        <a href="https://www.facebook.com" class="facebook"><i class="fa-brands fa-facebook"></i></a>
      </div> 
      <div class="red-instagram">
        <a href="https://www.instagram.com" class="instagram"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </ul>
  </footer>
</body>
