<form [formGroup]="formulario">
	<body style="background-color:rgb(172, 252, 165)">
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Iniciar sesion</h3>
						<div class="d-flex justify-content-end social_icon">
							<span><i class="fab fa-facebook-square"></i></span>
							<span><i class="fab fa-twitter-square"></i></span>
						</div>
					</div>
					<div class="card-body">
						<form>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input  formControlName="mail" type="text" class="form-control" placeholder="Usuario">
								
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input formControlName="password" type="password" class="form-control" placeholder="contraseña">
							</div>
							<div class="row align-items-center remember">
								<input type="checkbox">Recordar cuenta
							</div>
							<div class="form-group">
								<input type="submit" value="Iniciar" class="btn float-right login_btn" (click)="home()">
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							¿No tienes una cuenta?<a href="singup">Crear cuenta</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="#">¿Olvidaste tu contraseña?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</form>
