.column{
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 6%;
    font-size: x-large;
}
th{
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.taxi{
    text-align: center;
}