<body style="background-color:rgb(172, 252, 165)">
    <div class="title">
        <h1>Paradederos colectivos Viña del Mar</h1>
        <p>A continuacion te dejamos un mapa con los distintos paraderos de colectivos en el centro de Viña:</p>
    </div>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/d/embed?mid=1sCEHavhyV3GoHrRJyyFw5BJwCNQ&hl=en_US&ehbc=2E312F" width="85%" height="480"></iframe>
    </div>
    <div class="text">
        <p>
            El valor del pasaje depende del recorrido, sin embargo este oscila enter los 500clp a 5000clp
        </p>
    </div>
    
