<body style="background-color:rgb(172, 252, 165)">
  <div class="ruta-metro">
    <img
      src="https://i.pinimg.com/originals/93/9b/81/939b8181d3bf25adeaecf70dd24bfc1a.gif"
      width="65%"
      alt=""
    />
  </div>
  <div class="uxn-wrap">
    <table class="uxn-k_tablas tabla-normal">
      <thead>
        <tr class="uxn-tabla__title">
          <th class="uxn-tabla__item">Tipo de usuario o beneficio</th>
          
          <th class="uxn-tabla__item">Tarifa Combinada</th>
          
        </tr>
        
      </thead>
      <tbody class="uxn-tabla__content">
        <tr class="uxn-tabla__fila">
          <td class="uxn-tabla__item" data-title="Tipo de usuario o beneficio">
            General
          </td>
          

          <td class="uxn-tabla__item" data-title="Tarifa Combinada">
            Valor de Tren+ $505
          </td>
          
        </tr>
        
        <tr class="uxn-tabla__fila">
          <td class="uxn-tabla__item" data-title="Tipo de usuario o beneficio">
            Estudiante (inscrito en beneficio)
          </td>
          

          <td class="uxn-tabla__item" data-title="Tarifa Combinada">
            Valor de Tren + $165
          </td>
          
        </tr>
        
        <tr class="uxn-tabla__fila">
          <td class="uxn-tabla__item" data-title="Tipo de usuario o beneficio">
            Adulto mayor (inscrito en beneficio)
          </td>
          

          <td class="uxn-tabla__item" data-title="Tarifa Combinada">
            Valor de Tren + $250
          </td>
          
        </tr>
        
        <tr class="uxn-tabla__fila">
          <td class="uxn-tabla__item" data-title="Tipo de usuario o beneficio">
            Persona discapacitada (inscrito en beneficio)
          </td>
          

          <td class="uxn-tabla__item" data-title="Tarifa Combinada">
            Valor de Tren + $250
          </td>
          
        </tr>
        
      </tbody>
      
    </table>
    
  </div>
</body>
